<div id="<%= dom_id oficina %>">
  <p>
    <strong>Cliente:</strong>
    <%= oficina.cliente %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= oficina.endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= oficina.telefone %>
  </p>

  <p>
    <strong>Data entrada:</strong>
    <%= oficina.data_entrada %>
  </p>

  <p>
    <strong>Data saida:</strong>
    <%= oficina.data_saida %>
  </p>

  <p>
    <strong>Valor servico:</strong>
    <%= oficina.valor_servico %>
  </p>

  <p>
    <strong>Concluido:</strong>
    <%= oficina.concluido %>
  </p>

</div>
